version: '3.8'

services:
  # データベース (PostgreSQL)
  db:
    image: postgres:15-alpine
    container_name: anime_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: anime_review_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # データベース管理ツール (PgAdmin) - オプションですがあると便利です
  pgadmin:
    image: dpage/pgadmin4
    container_name: anime_pgadmin
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db

volumes:
  postgres_data: